.button {
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}
.primary {
  background: #00F;
  color: #fff;
}
.secondary {
  background: #f00;
  color: #fff;
}
.tertiary {
  background: #005a4e;
  color: #000
}
.cancel {
  border: 1px solid #999;
}